<header class="site-header" role="banner">
  <div class="cm-new-navbar">
    <!-- 신규 Navbar 제작 -->
      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}
    <div class="cm-logo">
      <a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    </div>

    <div class="cm-search-bar">
        <div class="search-container container-search" id="navbar">
          <!-- <form action="/search.html">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit">Submit</button>
          </form> -->
          <div class="container-input">
              <input type="text" list="psychology_theories_list" id="psychology_theories_search" class="search-term" placeholder="원하는 키워드를 검색해보세요.">
              <button type="submit" class="search-button" id="selectTheory">
                <i class="fa fa-search"></i>
             </button>
          </div>
          
          <!-- <input type="text" id="navin"></input>
          <button value="ok" name="ok" id="navsub"><span class="glyphicon glyphicon-search"></span></button>   -->
        </div>
        <!-- <form action="/search.html" class="search-wrapper cf">
          <input type="text" placeholder="Search here..." required="">
          <button type="submit">Search</button>
        </form>  -->
    </div>
    <div class="cm-mob-toggle-menu">

    </div>
    {%- if page_paths -%}
    <div class="cm-topnav">
      <label for="show-menu" class="show-menu hamburger">
        <div class="top-bun"></div>
        <div class="meat"></div>
        <div class="bottom-bun"></div>
      </label>
      <input type="checkbox" id="show-menu" role="button">      
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <a class="nav-item" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
        {%- endif -%}
      {%- endfor -%}
      <a href="{{ "/feed.xml" | relative_url }}" class="nav-item" >
          <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
        <svg class="rss-icon" viewBox="0 0 32 32">
          <circle cx="5" cy="27" r="5" fill="currentColor" stroke="none" />
          <circle cx="0" cy="32" r="18" stroke-width="7" />
          <circle cx="0" cy="32" r="28" stroke-width="7" />
        </svg>
        <span class="rss-subscribe">rss</p>
      </a>
    </div>
    {%- endif -%}
  </div>
</header>
