/**
 * Wrapper
 * TODO: Navigator bar 를 커스터마이징 한다.
 * 
 */

//  
/*
참고 레퍼런스: https://css-tricks.com/

요구사항
- CI | 메뉴 | 검색바
*/

@import "media";

.cm-header-wrapper {

  @include for-tablet-portrait-up {
    width: 540px;
  }
  @include for-tablet-landscape-up {
    width: 940px;
  }
  @include for-desktop-up {
    width: 1280px;
  }
  @include for-big-tablet-up {
    width: 1280px;
  }
  @include for-big-desktop-up {
    width: 1280px;
  }
}


.cm-header-wrapper {
  // max-width: -webkit-calc(1000px - (30px * 2));
  // max-width: calc(1000px - (30px * 2));
  
  // margin-right: auto;
  // margin-left: auto;
  // padding-right: 30px;
  // padding-left: 30px; 
}

// @TODO: 매체(디바이스)별 CSS 적용 하기

// @media screen and (max-width: 950px) {
@media only screen and (max-width: 950px) {
  .cm-header-wrapper {
    // max-width: -webkit-calc(800px - (30px));
    // max-width: calc(800px - (30px));
    // padding-right: 15px;
    // min-height: calc(129px);
    // padding-left: 15px; 
  } 
}

// @media screen and (max-width: 1250px) {
@media only screen and (max-width: 1250px) {
  .cm-header-wrapper {
    // PC 화면에서만 적용되도록 해보자.
    color: red;
  } 
}

@media only screen and (max-width: 2000px) {
  .cm-header-wrapper {
    // max-width: -webkit-calc(800px - (30px));
    // max-width: calc(800px - (30px));
    // min-height: calc(129px);
    // padding-right: 15px;
    // padding-left: 15px; 
    color: red;
  } 
}