---
layout: default
---

<div class="home">
  <div class="cm-right-sidebar cm-wide-view">
      <div class="cm-googlead">
          {%- include googlead-left-side.html html=content -%}
      </div>    
  </div>

  <div class="cm-left-sidebar cm-wide-view">
      <div class="cm-googlead">
          {%- include googlead-left-side.html html=content -%}
      </div>
      <!-- TODO: 신규 컴포넌트 추가
        구글 광고의 display: absolute 로 변경하였다. 즉, 사이드 패널의 활용도를 좀더 높일 수 있다.
       -->
      <div>
        <!-- 여기에 추가 컨텐츠를 넣는다. -->
      </div>
  </div>
  
  
  <!-- 구글 광고 코드 영역 (종료) -->

  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}

    <div class="cm-container">
      <div class="cm-title">
          <h1 class="post-list-heading cm-cover-title">{{ page.list_title | default: "Articles" }}</h2>
      </div>
    </div>

    <div class="cm-container">
      <div class="cm-seperator"></div>  
    </div>

    <!-- <ul class="post-list"> -->
      <!-- 포스팅 목록 노출하기 
        TIP. 글자의 높이를 키우는 등의 조합을 이용해 가독성을 높일 수 있음.
      -->
      {%- for post in paginator.posts -%}
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <div id="cm-article">
          <h1>
            <a href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
            </a>
          </h1>
          <p>{{ post.date | date: date_format }}</p>
          <p>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </p>
          <a href="{{ post.url | relative_url }}">
            <button>Read</button>
          </a>
        </div>
        <!--
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          
        </li> -->
      {%- endfor -%}
    <!-- </ul> -->

    <!-- 페이징 시작 -->
    {% if paginator.total_pages > 1 %}
        <div class="content_detail__pagination cdp debug" actpage="{{ paginator.page }}">
            
            {% if paginator.previous_page %}
              <!-- 이전 페이지가 있다면 이전으로 이동하는 버튼을 보여준다. -->
              <a data-page="#!-1" href="{{ paginator.previous_page_path | relative_url }}" class="cdp_i">PREV</a>
            {% else %}
              <a data-page="#!-1" class="cdp_i">PREV</a>
            {% endif %}
  
            {% for page in (1..paginator.total_pages) %}
              {% if page == paginator.page %}
                <!-- 현재 페이지의 경우, 클릭되지 않도록 설정한다. -->
                  <a data-page="#!{{ page }}" href="{{ site.paginate_path | relative_url | replace: ':num', page }}" class="cdp_i">{{ page }}</a>
              {% elsif page == 1 %}
                <a data-page="#!{{ page }}" href="/" class="cdp_i">1</a>
              {% else %}
                <a data-page="#!{{ page }}" href="{{ site.paginate_path | relative_url | replace: ':num', page }}" class="cdp_i">{{ page }}</a>
              {% endif %}
            {% endfor %}
            
            {% if paginator.next_page %}
              <a href="{{ paginator.next_page_path | relative_url }}" class="cdp_i">NEXT</a>
            {% else %}
              <a href="{{ paginator.next_page_path | relative_url }}" class="cdp_i">NEXT</a>
            {% endif %}
          </ul>
        </div>
      {% endif %}
      <!--  페이징 종료 -->

    <!-- 구글 광고 코드 영역 (시작) -->
    {%- include advertisements.html html=content -%}
    
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
